
.container {
    width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}
.albums {
    width: 30%;
}
.album {
    border: 1px solid cornflowerblue;
    padding: 10px 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 5px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.no-use-selected {
    margin: auto;
    border: 1px solid cornflowerblue;
    padding: 10px;
    font-size: 30px;
}
.photos {
    width: 65%;
}
.photo {
    display: flex;
    flex-wrap: wrap;
}
.photos input {
    width: 300px;
    border-color: cornflowerblue;
    padding: 10px;
}
.selected {
    background-color: cornflowerblue;
}